spring:
  application:
    name: RevGif
    allowed-file-formats:
      - image/gif
      - image/jpeg
      - image/png
      - image/webp
    bit-resolution: 64
    expected_frames: 4 # To save costs lol
    nm-hamming-threshold: 0.35 # normalized hamming dist. I landed on this thru trial and error(.41 * 64, might return some false postives but lesser than this could be too strict)

  datasource:
    driver-class-name: org.postgresql.Driver
    password: password
    username: postgres
    url: jdbc:postgresql://localhost:5432/revgif

  data:
    jdbc:
      repositories:
        enabled: true

  servlet:
    multipart:
      max-file-size: 10MB #10MB max size
      max-request-size: 10MB


api:
  gemini:
    api-key: ${GEMINI_API_KEY}
    model: gemini-2.5-flash
    retry-attempts: 3
    status-codes:    #status codes to retry for
      - 503
    initial-delay: 1000.0
    max-delay: 3000.0
    max-conns: 32
    max-conns-per-host: 8

  tenor:
    api-key: ${TENOR_API_KEY}
    base-url: https://tenor.googleapis.com/v2/search
    content-filter: low
    media-filter: gif, mp4 #Only gifs are needed
    limit: 10

date-time-pattern: yyyy-MM-dd HH:mm:ss

cookie:
  max-age: 3600
  http-only: true
  secure: false
  name: SESSION-COOKIE
  path: /

sse:
  duration: 3

rate-limit:
  req-per-minute: 5
  key-ttl: 3

web-client:
  ssl-handshake-timeout: 20
  response-timeout: 30
  read-write-timeout: 30
  tcp-timeout-millis: 20_000
  max-bytes-read: 10_485_760 #10 mb
  max-retry-attempts: 3
  backoff: 2




