spring:
  application:
    name: RevGif
    allowed-file-formats:
      - image/gif
      - image/jpeg
      - image/png
      - image/webp
    bit-resolution: 64
    expected_frames: 4 # To save costs lol
    hamming-threshold: 18
    nm-hamming-threshold: 0.285 # normalized hamming dist. I landed on this thru trial and error(.285 * 64 = 18, basically the same as the normalized hamming dist)

  datasource:
    driver-class-name: org.postgresql.Driver
    password: password
    username: postgres
    url: jdbc:postgresql://localhost:5432/revgif

  data:
    jdbc:
      repositories:
        enabled: true

  servlet:
    multipart:
      max-file-size: 100MB #10MB max size
      max-request-size: 100MB


api:
  gemini:
    api-key: ${GEMINI_API_KEY}
    prompt: In not more than 7 words, describe the main action or emotion in this image as a GIF search query. Respond with ONLY the search terms, no other text
    model: gemini-2.5-flash
    retry-attempts: 3
    status-codes:    #status codes to retry for
      - 503
    initial-delay: 1000.0
    max-delay: 3000.0
    max-conns: 32
    max-conns-per-host: 8

  tenor:
    api-key: ${TENOR_API_KEY}
    base-url: https://tenor.googleapis.com/v2/search
    content-filter: low
    media-filter: gif, mp4 #Only gifs are needed
    limit: 15

date-time-pattern: yyyy-MM-dd HH:mm:ss

cookie:
  max-age: 3600
  http-only: true
  secure: false
  name: SESSION-COOKIE
  path: /

sse:
  duration: 5
  cleanup: 10




