spring:
  application:
    name: RevGif
    allowed-file-formats:
      - image/gif
      - image/jpeg
      - image/png
      - image/webp
    bit-resolution: 64
    expected_frames: 4


  datasource:
    driver-class-name: org.postgresql.Driver
    password: password
    username: postgres
    url: jdbc:postgresql://localhost:5432/revgif

  data:
    jdbc:
      repositories:
        enabled: true

  servlet:
    multipart:
      max-file-size: 100MB #10MB max size
      max-request-size: 100MB
